/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

ul#top_menu {
	margin-top: 12px;
}

ul#top_menu li {
    margin: 0px 20px 0 0;
}

ul#top_menu li a.btn_1 {    
    padding: 8px 12px;
}

ul#top_menu li a.btn_1 i {
	font-size: 18px;
}

.box_list .wrapper h3, .box_grid .wrapper h3 {
	margin-top: 15px;
}


.user.dropdown > a {
	color: #fff;
	font-size: .8125rem;
    font-weight: 600;
    padding: 0;
    margin-top: -5px;
}

.user.dropdown > a:hover {
	opacity: .7;
}

.user.dropdown > a:focus, .user.dropdown > a:active {
	color: #fff;
	
}
 
.user.dropdown > a.btn:focus {
	box-shadow: none;
}

.user.dropdown > a >i {
	font-size: 20px;
}

.user.dropdown .dropdown-menu a {
	color: #222!important;
	text-transform: capitalize;
    font-size: .8125rem;
    padding: 5px 15px 0px 15px;
}

ul#top_menu li a.login:before, ul#top_menu li a.search-overlay-menu-btn:before {    
    font-size: 22px;
}

.student-profile .profile {
	text-align: center;
}

.student-profile .profile ul li {
    border-top: none;
    padding: 0px 20px;
}

.student-profile .profile figure > div {
	position: relative;
}

.profile-pic-dropdown {
	position: absolute;
    bottom: 0;
    right: 5px;
}

.profile-pic-dropdown #profile-pic-link {
	font-size: 20px;
}

.profile-pic-dropdown > #profile-pic-link:focus {
	box-shadow: none;
}

.profile-pic-dropdown .dropdown-menu {
	min-width: 7rem;
}

.profile-pic-dropdown .dropdown-menu a {
	color: #222!important;
	text-transform: capitalize;
    font-size: .8125rem;
    padding: 0px 10px 0px 20px;
}

.profile-pic-dropdown .dropdown-toggle::after {
	display: none;
}

.student-profile .indent_title_in h6 {
	font-size: 15px;
}

.student-profile .indent_title_in p {
	background: #f9f9f9;
    padding: 10px 15px;
    min-height: 40px;
}
.student-profile .indent_title_in {
    padding-left: 10px;
}

.student-profile .indent_title_in i {
    font-size: 25px;
}

.student-profile .box_teacher {
	position: relative;
	padding: 50px 25px;
}

.student-profile .edit-profile {
	position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    cursor: pointer;
    color: #3f9fff;
}

.student-profile .edit-form-wrapper .field-wrapper {
	position: relative;
}

.student-profile .edit-form-wrapper .form-controls {
	position: absolute;
    top: 0;
    left: 0;
    
}

.student-profile .edit-form-wrapper .edit-elements {
	display: none;
}

.password-form-wrapper {
	max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    overflow: auto;
}

.nav-tabs {
    border-bottom: none;
} 

.nav-tabs .nav-link {
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #fff;
}

.filters_listing .sbHolder {
    min-width: 200px;
}

.subscribed-menu {
	background: #FFC107;
    padding: 5px 0;
}

#accordion_exams .list_lessons ul li:last-child {
	border-bottom: none;
	padding: 10px 0;
}



.btn-exam {
  background: #662d91;
  border: 2px solid #662d91;
  color: #fff!important;
  padding: 5px 20px;
  font-weight: 500;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 0px;
}
.btn-exam:hover {
  background: #fff;
  color: #662d91!important;
}

#accordion_classes .class-trainer {
    max-width: 75px;
    text-align: center;
    padding: 10px 0;
}

#accordion_classes .class-trainer h5 {
	font-size: 13px;
    margin: 5px 0 0 0;
    font-weight: 600;
}

#accordion_classes .class-trainer p {
	font-size: 12px;
    margin: 0;
}

.instructions h4 {
	font-size: 20px;

}

.instructions ul li {
	margin-bottom: 10px;
}

#hero_in.exams {
	height: 200px;
}



.question h3 {
	font-size: 18px;
	font-weight: 600;
    background-color: #fec007;
    padding: 15px 15px;
    max-width: 200px;
}

.question h5 {
	font-size: 16px;
    line-height: 1.5;
    padding: 20px 0;
}

.question-options ul {
	border: 1px solid #eee;
}

.question-options ul li {
	border-bottom: 1px solid #eee;
    padding: 10px 20px;
}

.question-options ul li input[type=radio] {
	margin-right: 5px;
}

.question .navigators ul li {
	font-size: 35px;
	display: inline-block;
	color: #222;
	cursor: pointer;
}

.question .navigators ul li.disabled {
	color: #ccc;
}

.exam-sidebar {
    border: 2px solid #666;
    /*max-width: 325px;*/
    text-align: center;
    float: right;
}

.exam-sidebar h4 {
    font-size: 17px;
    background-color: #444;
    color: #eee;
    padding: 15px 10px;
    letter-spacing: .5px;
}

.exam-sidebar .question-numbers ul {
	margin: 20px 5px;
}

.exam-sidebar .question-numbers ul li {
	display: inline-block;
    border: 1px solid #999;
    width: 45px;
    height: 45px;
    margin: 5px;
    text-align: center;
    padding-top: 10px;
    transition: all .3s ease;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.exam-sidebar .question-numbers ul li.active {
	background-color: #fec007;
    color: #222;
    font-weight: 600;
}

.exam-sidebar .question-numbers ul li:hover {
	background-color: #4f4082;
	color: #fff;
	border: 1px solid #4f4082;
}

.exam-sidebar .time-left {
	background-color: #fafafa;
    
}


.exam-sidebar .time-left h5 {
	padding: 15px 20px;
	font-size: 28px;
	font-weight: 600;
}

.exam-timer {
    min-width: 180px;
}

.trainers .box_grid {
	margin-bottom: 25px;
}

.trainers .box_grid figure {
	min-height: 250px;
}

.trainers .trainer-details {
	padding: 15px 10px;
}

.trainers .box_grid h3{
	font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.trainers .box_grid h5{
	font-size: 15px;
    margin: 0;
    font-weight: 400;
}

.trainers .box_grid p{
	margin-bottom: 0;
    font-weight: 300;
    font-size: 12px;
}

a.box_news figure {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #662d91;
}

a.box_news ul li:after {
    content: '';
}

.event {
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.event figure {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #662d91;
    min-height: 250px;
    margin: 0;
    position: relative;
}

.event figcaption {
    background-color: #FFC107;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 15px;
    line-height: 1;
}

.event figcaption strong {
    display: block;
    font-size: 21px;
    font-size: 1.3125rem;
}
.event-details {
    padding: 20px;
}

.event-details ul {
    margin: 0;
    padding: 10px 0 0;
}

.event-details ul li {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    font-size: 12px;
    font-size: .75rem;
    margin-right: 5px;
}

.event-details h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}



.btn-purple-rounded {
    background: #fff;
    border: 2px solid #662d91;
    color: #662d91;
    padding: 5px 20px;
    font-weight: 500;
    line-height: 1;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}

.btn-purple-rounded:hover {
    background: #662d91;
    color: #fff;
}

.event.single-detail {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.event.single-detail figure {
    min-height: 400px;
}

.event.single-detail figcaption {
    left: 0;
    right: auto;
}

.exam-results .exam-title {
  font-size: 25px;
}

.score-sheet {
    max-width: 500px;
    padding: 20px;
    background-color: #fafafa;
    margin: 0 auto;
}

.score-sheet p {
    margin-bottom: 0px;
    font-size: 15px;
}

.score-row {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.score-row .title {
    font-weight: 600;
}



.total-score h5 {
    background-color: #fec007;
    color: #222;
    padding: 10px;
    font-weight: 600;
}

.total-score h6 {
    font-size: 20px;
    padding: 5px 30px;
    font-weight: 500;
    margin: 0;
}

.total-score h6 span {
    font-size: 45px;
    font-weight: 600;
    margin-right: 5px;
} 

.total-score {
    text-align: center;
}

.total-score i {
  margin-right: 10px;
}

/*Carousel home page*/
#related_courses {
  margin-top: 40px;
}
@media (max-width: 767px) {
  #related-courses {
    margin-top: 0;
  }
}
#related-courses .item {
  margin: 0 15px;
}

#related-courses .owl-item {
  opacity: 0.5;
  transform: scale(0.85);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(0.85, 0.85);
  transition: all 0.3s ease-in-out 0s;
  overflow: hidden;
}

#related-courses .owl-item.active.center {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: scale(1);
}

#related-courses .owl-item.active.center .item .title h4,
#related-courses .owl-item.active.center .item .views {
  opacity: 1;
}


@media (min-width: 992px) {
	.hidden_desktop {
	    display: none!important;
	}
}

@media (max-width: 991px) {
	.exam-sidebar {
		float: none;
		margin:30px auto;
	}

	#logo img {	    
	    margin-top: 20px;
	}
}