/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

body {
  background-color: #072f66;
  direction: rtl;
  text-align: right;
  font-size: .875rem;
}

.site-language {
  position: absolute;
  bottom: -31px;
  left: 0;
}

.site-language .sbHolder {
  min-width: 90px;
  background-color: #03A9F4;
}

.site-language .sbToggle {
    left: 0;
    right: auto;
}

.site-language .sbHolder .sbToggle:after {
  color: #fff;
}

.site-language .sbHolder .sbSelector:hover, .site-language .sbHolder .sbSelector:link, 
.site-language .sbHolder .sbSelector:visited {
  color: #fff;
}


.align-center {
  margin:auto;
}

.clear-both {
  clear: both;
}

#page {
  background-color: #f8f8f8;
}

#hero_in {
    height: 300px;
}

.margin_70_70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.btn_2 {
    background-color: #FFC107;
    color: #333;
    padding: 13px 30px;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
}

.btn_2:hover {
    background-color: #3f9fff;
    color: #fff;
}

.btn_1:focus {
  outline: none;
}

input:-webkit-autofill {    
    padding: 2rem .15em;
}

#home-slider div.carousel-item > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  /*display: none;*/
}

#hero_in.general .wrapper, #hero_in.courses .wrapper {
    background-color: #000;
    background-color: rgba(0,0,0,.8)
} 


.bg_color_3 {
  background-color: #f1f1f1;
}

.bg_color_2 {
  background-color: #f8f8f8;
}

.bg_color_4 {
  background-color: #e9e9e9;
}

.main_title_3 span {
    width: 120px;
    height: 2px;
    background-color: #e1e1e1;
    display: block;
    margin: 0px 0 25px 0;
}

.main_title_3 span em {
    width: 60px;
    height: 2px;
    background-color: #662d91;
    display: block;
    margin: auto;
}

.card-body {
  background-color: #fcfcfc;
  overflow: auto;
}

header.header.sticky {
  background: #004080;
  background: -webkit-linear-gradient(right,#0b2556,#004080);
  background: linear-gradient(to right,#0b2556,#004080);
}

.box_1 {
  float: left;
}

.animated .block-vertical {
    
    background: #004080;
}

.animated .block-horizzontal {    
    background: #004080;
    z-index: 8;
}

.switch-field input:checked+label {
  background: #004080;
  /*border-radius: 0; */
}

.switch-field label {    
    color: #004080;
}

.input_label {
  text-align: right;
}

.box_grid ul li:last-child a {
    background: #fff;
    border: 2px solid #004080;
    color: #004080;
}

.box_grid ul li:last-child a:hover {
  background: #004080;
}

.box_list ul {
    padding: 10px 15px 10px 30px;
}

.box_list ul li:last-child a {
    background: #fff;
    border: 2px solid #004080;
    color: #004080;
}

.box_list ul li:last-child a:hover {
  background: #004080;
}

#login aside, #register aside {
  top: -22px;
  right: 0;
  left: auto;
}

#login figure, #register figure {
  background: #004080;
  background: -webkit-linear-gradient(right,#0b2556,#004080);
  background: linear-gradient(to right,#0b2556,#004080);
}

#logo {
  float: right;
}

.main-menu {
  top: 20px;
  float: left;
}

ul#top_menu {
	margin-top: 12px;
  float: left;
}

ul#top_menu.logged {
    margin-top: 21px;
}

ul#top_menu li {
    margin: 0px 20px 0 0;
}

ul#top_menu li a.btn_1 {    
    padding: 8px 12px;
}

ul#top_menu li a.btn_1 i {
	font-size: 18px;
}

.search-overlay-menu form button {
  left: 0;
  right: auto;
}

#custom-search-input input[type=submit] {
  right: auto;
  left: -1px;
  border-radius: 3px 0 0 3px;
  background-color: #03a9f4;
}

.btn_home_align {
    text-align: left;
}

footer {
  margin-top: -25px;
  background: #072f66;
  /*position: absolute;
  width: 100%;
  bottom: -22px;
  z-index: 1;
  
    background: -webkit-linear-gradient(right,#0b2556,#004080);
    background: linear-gradient(to right,#0b2556,#004080);*/
}

.box_list {
  min-height: 275px;
}

.box_list figure {
  min-height: 275px;
}

.box_list figure a img {
  height: 100%;
}

.box_list .wrapper {
    min-height: 210px;
}

.box_list .wrapper h3, .box_grid .wrapper h3 {
	margin-top: 5px;
}

.box_list .wrapper p {
  margin-bottom: 0;
}

.box_grid {    
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}

.box_grid .wrapper {
    padding: 10px 25px;
    min-height: 160px;
}

.box_grid p {
  margin-bottom: 0;
}

.box_grid figure {
  /*min-height: 265px;*/
}

.box_detail figure {
  background-color: transparent;
}

.box_detail .title {
    font-size: 24px;
    font-weight: 600;
    color: #666;
    margin-bottom: 0px;
}

.box_detail .price {
    
    margin: 0 0 25px;
    padding: 5px 5px 0px;   
    font-size: 28px;
    border-bottom: none; 
}

.intro_title h2 {
  font-size: 24px;
}

.user.dropdown > a {
	color: #fff;
	font-size: .8125rem;
    font-weight: 600;
    padding: 0;
    margin-top: -5px;
}

.user.dropdown > a:hover {
	opacity: .7;
}

.user.dropdown > a:focus, .user.dropdown > a:active {
	color: #fff;
	
}
 
.user.dropdown > a.btn:focus {
	box-shadow: none;
}

.user.dropdown > a >i {
	font-size: 20px;
}

.user.dropdown .dropdown-menu a {
	color: #222!important;
	text-transform: capitalize;
    font-size: .8125rem;
    padding: 5px 15px 0px 15px;
    text-align: right;
}

ul#top_menu li a.login:before, ul#top_menu li a.search-overlay-menu-btn:before {    
    font-size: 22px;
}

.student-profile .profile {
	text-align: center;
}

.student-profile .profile ul li {
    border-top: 1px solid #ededed;
    padding: 15px 25px;
    text-align: right;
}

.student-profile .profile ul li  ul > li {
  border-top: none;
  padding: 10px 15% 0px 0;
}

.student-profile .profile ul li .nav-link {
  padding: 0;
}

.student-profile .nav-item.active > .nav-link {
    color: #0a295c;
}

.student-profile .profile ul li .nav-link .notice-count {
    background-color: #e11f28;
    padding: 2px 7px;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    margin-right: 10px;
    font-weight: 600;
}

.student-profile .profile figure > div {
	position: relative;
}

.profile-pic-dropdown {
	position: absolute;
    bottom: 0;
    right: 5px;
}

.profile-pic-dropdown #profile-pic-link {
	font-size: 20px;
}

.profile-pic-dropdown > #profile-pic-link:focus {
	box-shadow: none;
}

.profile-pic-dropdown .dropdown-menu {
	min-width: 7rem;
}

.profile-pic-dropdown .dropdown-menu a {
	color: #222!important;
	text-transform: capitalize;
    font-size: .8125rem;
    padding: 0px 10px 0px 20px;
}

.profile-pic-dropdown .dropdown-toggle::after {
	display: none;
}

.student-profile .indent_title_in h6 {
	font-size: 15px;
}

.student-profile .indent_title_in p {
	background: #f9f9f9;
    padding: 10px 15px;
    min-height: 40px;
}
.student-profile .indent_title_in {
    padding-right: 10px;
}

.student-profile .indent_title_in i {
    font-size: 25px;
}

.student-profile .box_teacher {
	position: relative;
	padding: 50px 25px;
}

.student-profile .edit-profile {
	position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    cursor: pointer;
    color: #3f9fff;
}

.student-profile .edit-form-wrapper .field-wrapper {
	position: relative;
}

.student-profile .edit-form-wrapper .form-control {
	 padding: 5px 10px;
}

.student-profile .edit-form-wrapper .edit-elements {
	display: none;
}

.student-profile input[type=date] {
  text-align: right;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "اختر ملف";
    left: 0;
    right: auto;
}

.password-form-wrapper {
	  /*max-width: 500px;
    margin: 0 auto;*/
    padding: 25px;
    overflow: auto;
}

.nav-tabs {
    border-bottom: none;
} 

.nav-tabs .nav-link {
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #fff;
}

/*.course-filters label {
  border-radius: 0;
}

.filters_listing .sbHolder {
    min-width: 200px;
    border-right: 1px solid;
    border-radius: 0;
}

.filters_listing ul li {
  margin-right: 0;
}*/

.filters_listing ul li:first-child {
    float: right;
}


.course-filters select.form-control {
    height: 30px;
    padding: 0px 10px;
    border-radius: 3px;
    color: #004080;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border: none;

}

.course-filters select.form-control:focus {
    box-shadow: none;
    outline: 0;
    border-color: transparent;
    border-right-color: #004080;
}

.subscribed-menu {
	background: #FFC107;
    padding: 5px 0;
    z-index: 9;
}

.intro_title ul {
    float: left;
}

#accordion_exams .list_lessons ul li:last-child {
	border-bottom: none;
	padding: 10px 0;
}

.list_lessons ul li span {
    float: left;
}

.btn-exam {
  background: #004080;
  border: 2px solid #004080;
  color: #fff!important;
  padding: 5px 20px;
  font-weight: 500;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 0px;
}
.btn-exam:hover {
  background: #fff;
  color: #004080!important;
}

#accordion_classes .class-trainer {
    max-width: 75px;
    text-align: center;
    padding: 10px 0;
}

#accordion_classes .class-trainer h5 {
	font-size: 13px;
    margin: 5px 0 0 0;
    font-weight: 600;
}

#accordion_classes .class-trainer p {
	font-size: 12px;
    margin: 0;
}

.instructions h4 {
	font-size: 20px;

}

.instructions ul li {
	margin-bottom: 10px;
}

#hero_in.exams {
	height: 200px;
}



.question h3 {
	font-size: 18px;
	font-weight: 600;
    background-color: #fec007;
    padding: 15px 15px;
    max-width: 200px;
}

.question h5 {
	font-size: 16px;
    line-height: 1.5;
    padding: 20px 0;
}

.question-options ul {
	border: 1px solid #eee;
}

.question-options ul li {
	border-bottom: 1px solid #eee;
    padding: 10px 20px;
}

.question-options ul li input[type=radio] {
	margin-right: 5px;
}

.question .navigators ul li {
	font-size: 35px;
	display: inline-block;
	color: #222;
	cursor: pointer;
}

.question .navigators ul li.disabled {
	color: #ccc;
}

.exam-sidebar {
    border: 2px solid #666;
    /*max-width: 325px;*/
    text-align: center;
    float: right;
}

.exam-sidebar h4 {
    font-size: 17px;
    background-color: #444;
    color: #eee;
    padding: 15px 10px;
    letter-spacing: .5px;
}

.exam-sidebar .question-numbers ul {
	margin: 20px 5px;
}

.exam-sidebar .question-numbers ul li {
	display: inline-block;
    border: 1px solid #999;
    width: 45px;
    height: 45px;
    margin: 5px;
    text-align: center;
    padding-top: 10px;
    transition: all .3s ease;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.exam-sidebar .question-numbers ul li.active {
	background-color: #fec007;
    color: #222;
    font-weight: 600;
}

.exam-sidebar .question-numbers ul li:hover {
	background-color: #4f4082;
	color: #fff;
	border: 1px solid #4f4082;
}

.exam-sidebar .time-right {
	background-color: #fafafa;
    
}


.exam-sidebar .time-right h5 {
	padding: 15px 20px;
	font-size: 28px;
	font-weight: 600;
}

.exam-timer {
    min-width: 180px;
}

.trainers .box_grid {
	margin-bottom: 25px;
}

.trainers .box_grid figure {
	/*min-height: 250px;*/
}

.trainers .box_grid figure img {
  width: 100%
}

.trainers .box_grid .box-image {
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.trainers .trainer-details {
	padding: 15px 10px;
}

.trainers .box_grid h3{
	font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    min-height: 45px;
}

.trainers .box_grid h5{
	font-size: 15px;
    margin: 0;
    font-weight: 400;
}

.trainers .box_grid p{
	margin-bottom: 0;
    font-weight: 300;
    font-size: 12px;
    min-height: 80px;
}

a.box_news figure {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #004080;
}

a.box_news ul li:after {
    content: '';
}

.event {
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.event figure {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #004080;
    min-height: 250px;
    margin: 0;
    position: relative;
}

.event figcaption {
    background-color: #FFC107;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 15px;
    line-height: 1;
}

.event figcaption strong {
    display: block;
    font-size: 21px;
    font-size: 1.3125rem;
}
.event-details {
    padding: 20px;
    overflow: auto;
}

.event-details ul {
    margin: 0;
    padding: 10px 0 0;
}

.event-details ul li {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    font-size: 12px;
    font-size: .75rem;
    margin-right: 5px;
}

.event-details h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}



.btn-purple-rounded {
    background: #fff;
    border: 2px solid #004080;
    color: #004080;
    padding: 5px 20px;
    font-weight: 500;
    line-height: 1;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}

.btn-purple-rounded:hover {
    background: #004080;
    color: #fff;
}

.event.single-detail {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.event.single-detail figure {
    min-height: 400px;
}

.event.single-detail figcaption {
    right: 0;
    right: auto;
}

.exam-results .exam-title {
  font-size: 25px;
}

.score-sheet {
    max-width: 500px;
    padding: 20px;
    background-color: #fafafa;
    margin: 0 auto;
}

.score-sheet p {
    margin-bottom: 0px;
    font-size: 15px;
}

.score-row {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.score-row .title {
    font-weight: 600;
}



.total-score h5 {
    background-color: #fec007;
    color: #222;
    padding: 10px;
    font-weight: 600;
}

.total-score h6 {
    font-size: 20px;
    padding: 5px 30px;
    font-weight: 500;
    margin: 0;
}

.total-score h6 span {
    font-size: 45px;
    font-weight: 600;
    margin-right: 5px;
} 

.total-score {
    text-align: center;
}

.total-score i {
  margin-right: 10px;
}

.hero_single.version_2 {
    height: 250px;
}

.box-payment {
    position: relative;
    display: block;
    padding-right: 175px;
    float: right;
    width: 100%;
    color: #555;
    margin-bottom: 30px;
    min-height: 100px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}

.box-payment figure {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box-payment figure {
    width: 150px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.box-payment div {
    padding: 20px 0px 0px 20px;
}


.box-payment div h4 {
    font-size: 20px;
    font-weight: 500;
}

.box-payment div p span {
    font-size: 18px;
    font-weight: 600;
}

.box-notice {
    padding: 20px;
    color: #555;
    margin-bottom: 30px;    
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}

.box-notice h4 {
    font-size: 18px;
    font-weight: 500;
}

.box-notice p {
    margin-bottom: 0;
    font-size: 13px;
}

.sidebar-page-title {
    font-size: 25px;
    /*background-color: #eee;
    padding: 10px 25px;*/
    margin-bottom: 30px;
    margin-top: 20px;
}

.no-sidebar-page-title {
    font-size: 40px;
    margin: 30px 0 30px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.assignment-answer {
    border: 1px dashed #eee;
    padding: 10px;
}

.assignment-answer h4 {
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #f6f6f6;
}

#accordion_assignments p {
  margin-bottom: 10px;
}

input[type=file].form-control {
    padding: 5px 10px;
  }

.course-resources {
  background-color: #eee;
  padding: 30px 20px;
  /*height: 100%;*/
}

.course-resources h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.course-resources ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/*.course-resources ul li:last-child {
  border-bottom: none;
}*/

.course-resources ul li i {
  margin-right: 10px;
}

.box_grid.courses {
    min-height: 475px;
}

.box_grid.courses h3 {
  min-height: 50px;
  font-size: 1.15rem;
}

.box_grid.courses figure .price {
  right: 20px;
  left: auto;
}

.box_grid.courses ul li {
    display: inline-block;
    margin-left: 15px;
    float: right;
}

.box_grid.courses ul li:last-child {
    margin-left: 0;
    float: left;
}

.box_grid.courses ul li i {
    margin-left: 5px;
}

.courses .banner {
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trainer-detail h3 {
     font-size: 18px;
    margin: 15px 0;
}

.trainer-detail .box_teacher .profile {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: #f9f9f9;
}

.trainer-detail .indent_title_in h5 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 26px;
    font-size: 20px;
}

.trainer-detail .indent_title_in i {    
    font-size: 35px;   
    color: #004080; 
}

.call_section_calendar {
    min-height: 350px;
    padding: 3% 0;
    background: url(../img/bg_register.jpg) center center no-repeat fixed;
}

.year-calendar.calendar .day td p {
    width: auto;
    font-size: 12px;
    padding: 2px 0px;
    text-align: center;
} 

.year-calendar.calendar .day td p i {
    margin-left: 0px;
    float: none;
}

.year-calendar.calendar .day td {
    height: 50px;
}

.modal-backdrop {
  z-index: -1;
}

#subscribe-modal {
  background-color: rgba(51,51,51,0.5);
}

#subscribe-modal .modal-header {
  background-color: #3f9fff;

}

#subscribe-modal .modal-header h5 {
  color: #fff;
}

#subscribe-modal .modal-header button.close {
    color: #fff;
    opacity: 1;
    float: left;
    margin: -1rem 0;
}

#hero_in.banner-courses:before {
  background: url(../img/bg-courses.jpg) center center no-repeat;
}

#hero_in.banner-calendar:before {
  background: url(../img/bg-calendar.jpg) top center no-repeat;
}

#hero_in.banner-resources:before {
  background: url(../img/bg-resources.jpg) top center no-repeat;
}

.courses.box_grid figure .price {
  padding: 7px;
  font-size: 1.2rem;
}

.courses.box_grid figure .price.tamkeen {
    left: 20px;
    right: auto;
    /*background-color: rgba(7, 47, 102, 0.7);*/
}

.courses.box_grid .price p {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 3px;
}

.box_detail p {
    margin-bottom: 3px;
    font-size: 10px;
    text-transform: uppercase;
}

#custom-search-input .search-query {
  padding-right: 110px;
}

.register.form-group .select .sbHolder {
    height: 35px;    
    border: 2px solid #ddd;
}

.register.form-group .select .sbHolder .sbSelector {
    color: #999;
    text-transform: none;
    font-weight: 500;
    font-size: .875rem;
}

.register.form-group .select .sbHolder .sbOptions {
    overflow-y: scroll;
}

.register.form-group .select .sbHolder .sbToggle {
    right: auto;
    left: 0;
}

.register .input.input-date .input__label-content {
  padding: 0;
}

.register .input.input-date .input_field {
  margin-top: 5px;
}

.register .input.input-file .input__label-content {
  padding: 0;
}

.register .input.input-file.input--filled .input__label-content, 
.register .input.input-file .input_field:focus+.input_label .input__label-content {

    -webkit-animation: none;
    animation: none;
}

#login aside, #register aside {
  overflow-x: hidden;
}

@media (min-width: 576px) {
  #subscribe-modal .modal-dialog {
      margin: 15% auto 0 auto;
  }
}


/*Carousel home page*/
#related_courses {
  margin-top: 40px;
}
@media (max-width: 767px) {
  #related-courses {
    margin-top: 0;
  }
}
#related-courses .item {
  margin: 0 15px;
}

/*#related-courses .owl-item {
  opacity: 0.5;
  transform: scale(0.85);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(0.85, 0.85);
  transition: all 0.3s ease-in-out 0s;
  overflow: hidden;
}

#related-courses .owl-item.active.center {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: scale(1);
}

#related-courses .owl-item.active.center .item .title h4,
#related-courses .owl-item.active.center .item .views {
  opacity: 1;
}*/

#reccomended .owl-item {
  opacity: 1;
  transform: none;
  -webkit-backface-visibility: auto;
  -moz-backface-visibility: auto;
  -ms-backface-visibility: auto;
  -o-backface-visibility: auto;
  backface-visibility: auto;
  -webkit-transform: none;
  transition: none;
  overflow: auto;
}

#reccomended .owl-item.active.center {
  opacity: 1;
  -webkit-backface-visibility: auto;
  -moz-backface-visibility: auto;
  -ms-backface-visibility: auto;
  -o-backface-visibility: auto;
  backface-visibility: auto;
  -webkit-transform: none;
  transform: none;
}

#reccomended .owl-item.active.center .item .title h4,
#reccomended .owl-item.active.center .item .views {
  opacity: 1;
}

.category-link figure.block-reveal {
  min-height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*------------*/

#calendar .fc-header .fc-header-right {
  display: none;
}

.course-calendar .external-event {
  cursor: auto;
}

/*------------*/

.calendar-colors {
  overflow: auto;
    margin-bottom: 10px;
    float: right;
}

.calendar-colors li {
  padding: 3px 5px;
    margin-right: 10px;
    width: 125px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    float: right;
    margin-bottom: 5px;
    text-align: center;
}

.calendar-colors li i {
  margin-left: 5px;
}

.calendar .table-responsive {
  position: relative;
}

.calendar-navigators {
  position: absolute;
    top: 12px;
    right: 10px;
}

.calendar-navigators li {
  float: right;
  margin-right: 5px;
}

.calendar-navigators li a {
  padding: 7px 15px;
}

.calendar table td {
  width: 14.28%;
  padding: 0;
}

.calendar table td div {
  padding: 10px;
}

.calendar .month {
  text-align: center;
  font-size: 18px;
}

.calendar .week td {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.calendar .day td {
  height: 120px;
  text-align: right;
}

.calendar .section-green {
  background-color: #16a249;
  color: #fff;
}

.calendar .section-green a {
  color: #fff;
}

.calendar .class-yellow {
  background-color: #f2c313;
  color: #222;
}

.calendar .class-yellow a {
  color: #222;
}

.calendar .exam-blue {
  background-color: #1b85c9;
  color: #fff;
}

.calendar .exam-blue a {
  color: #fff;
}

.calendar .day td p {     
    padding: 2px 5px;
    text-align: center;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    width: 110px;
}

.calendar .day td p i {
    margin-left: 5px;
    float: right;
    margin-top: 4px;
}


.calendar .other-month {
  color: #bbb;
}

.calendar .highlight {
  background-color: #fcf8e3;
  height: 100%;
}

.thank-you i {
  font-size: 70px;
  color: #16a249;
}

.thank-you h3 {
  font-size: 25px;
}

.month-navigators {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.month-navigators li {
  display: inline-block;
  
}

.month-navigators li a {
  padding: 7px 15px;
  width: 60px;
  float: right;
}

.calendar p a {
    word-break: break-word;
}

.single-team {
  text-align: center;
  margin: 0 auto 50px auto;
}



.single-team img {
  width: 100%;
  border-radius: 50%;
  max-width: 200px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
}

.single-team.team-head img {
  max-width: 400px;
}

.single-team h5 {
  font-size: 15px;
  color: #888;
}

.single-team h3 {
  font-size: 22px;
}

.single-team h6 {
  font-size: 15px;
  font-weight: 400;
}

.year-calendar-navigators li {
  float: right;
  margin-right: 5px;
}

.year-calendar-navigators li a {
  padding: 7px 15px;
}



@media (min-width: 992px) {
	.hidden_desktop {
	    display: none!important;
	}

}

@media (max-width: 991px) {
	.exam-sidebar {
		float: none;
		margin:30px auto;
	}	

  ul#top_menu {
    margin-top: -5px;
  }

  ul#top_menu.logged {
    margin-top: 5px;
  }

  #logo {    
    right: 75px;    
    text-align: right; 
    width: auto;
  }

  .box_list figure a img {
    max-width: none;
  }

  #home-slider div.carousel-item > div {
    display: block;
    min-height: 350px;
  }

  /*#home-slider div.carousel-item > img {
    display: none;
  }*/

  .filters_listing ul li:nth-child(2) {
      display: block;
  }

  .month-navigators {
    display: block;
  }
  .trainers .box_grid .box-image {
    min-height: 350px;
  }

  aside#sidebar {
    margin-top: 20px;
  }

}

@media (max-width: 576px) { 
  .intro_title ul {
      float: none;
      margin: 0;
  }

  .card-header a span.float-right {
      display: block;
      float: none!important;
  }

  .card-body .float-right {
    display: inline-block;
    float: none!important;
  }


}