
/* admin login starts */

#content.full-page {
	background: none;
	background-color: #fff;
}

#content.full-page .inside-block {
	background-color: #004080;
}

#content.full-page .inside-block form .input-group input:focus::-webkit-input-placeholder {
	color: #666;
}

#content.full-page .inside-block form .input-group .input-group-addon i {
	color: #999;
}

#content.full-page .inside-block form .input-group input:focus, 
#content.full-page .inside-block form .input-group input:focus + .input-group-addon {
	color: #333!important;
}

/* admin login ends */

.navbar.navbar-transparent-black {
	background-color: #004080;
}

.navbar-nav.side-nav {
	background-color: #004080;
}

.navbar .navbar-header .navbar-brand {
	color: #fff;
}

.navbar-nav.side-nav > li.navigation .menu > li > a, 
.navbar-nav.side-nav > li.navigation .menu > li > 
.dropdown-menu .dropdown > a {
	color: #ccc;
}

.navbar-nav.side-nav > li.navigation .menu > li > a > b.dropdown-plus, 
.navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown > a > b.dropdown-plus {
	color: #fff;
}

.navbar-nav.side-nav > li > a.sidebar-toggle:hover {
    color: #fff;
}

.navbar-nav.side-nav > li.navigation .menu > li > a:hover, 
.navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown > a:hover {
	color: #fff;
}

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > a, 
.navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.open > a {
	color: #fff;
}

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > ul.dropdown-menu > li:not(.dropdown) a, 
.navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.open > ul.dropdown-menu > li:not(.dropdown) a {
	color: #ccc;
}

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > ul.dropdown-menu > li:not(.dropdown) a:hover, 
.navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.open > ul.dropdown-menu > li:not(.dropdown) a:hover {
	color: #fff;
}

.dt-buttons a {
    background-color: #6c757d;
    color: #fff;
}

.dt-buttons a:hover {
	color: #ccc;
}

.dataTables_length {
	padding-bottom: 10px;
}

.dataTables_length select.form-control {
    min-height: 29px;
    padding: 5px 10px;
    margin-top: -10px;
}

[class^="tile"].color table.table-custom > thead > tr > th.sorting_asc, 
[class^="tile"].color table.table-custom > thead > tr > th.sorting_asc:hover,
[class^="tile"].color table.table-custom > thead > tr > th.sorting_desc,
[class^="tile"].color table.table-custom > thead > tr > th.sorting_desc:hover {
	color: #999;
}

[class^="tile"].color table.table-custom > thead > tr > th.sorting_asc:after,
[class^="tile"].color table.table-custom > thead > tr > th.sorting_asc:hover:after,
[class^="tile"].color table.table-custom > thead > tr > th.sorting_desc:after,
[class^="tile"].color table.table-custom > thead > tr > th.sorting_desc:hover:after {
	background-color: #999;
}

[class^="tile"].color table.table-custom > thead > tr > th.sortable:hover, 
[class^="tile"].color table.table-custom > thead > tr > th.sorting:hover, 
[class^="tile"].color table.table-custom > thead > tr > td.sortable:hover, 
[class^="tile"].color table.table-custom > thead > tr > td.sorting:hover {
	color: #999;
}

[class^="tile"].color table.table-custom > thead > tr > th.sortable:hover:after, 
[class^="tile"].color table.table-custom > thead > tr > th.sorting:hover:after, 
[class^="tile"].color table.table-custom > thead > tr > td.sortable:hover:after, 
[class^="tile"].color table.table-custom > thead > tr > td.sorting:hover:after {
	background-color: #999;
}